footer
  i brand image goes here

  ul
    li
      a(id="legal") Legal
    li
      a(id="privacy") Privacy
    li
      a(id="security") Security

    p &copy; 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.

    p Terms and conditions, features, support, pricing, and service options subject to change without notice.
