footer

  .links
    a(id="legal" href="#") Legal
    a(id="privacy" href="#") Privacy
    a(id="security" href="#") Security

  small &copy; 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.

  small Terms and conditions, features, support, pricing, and service options subject to change without notice.
